@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #000000;
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}

.card {
  background-color: white;
  width: 200px;
  height: 70px;
  display: flex;
  margin: 2px;
  border-radius: 2px;
  padding: 10px;
}

.actions.btn {
  align-self: flex-end;
}

.modal {
  background-color: white;
  width: 200px;
  height: 70px;
}
